root = true

[*]
charset = utf-8

[*.java]
tab_width = 2
indent_style = tab
indent_size = 2
continuation_indent_size = 2
end_of_line = lf
spaces_around_operators = true
spaces_around_brackets = outside
curly_bracket_next_line = false
indent_brace_style = K&R
quote_type = double
# ALthough we want trailing whitepaces trimmed, this option is too aggressive and causes harder to read commits
# IntelliJ IDEA has Settings->Editor->General->Strip trailing spaces on Save that can be set to "Modified Lines" which sometimes works properly
#trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false
